table {
    width: 100%;
}

.mat-mdc-raised-button {
    margin-top: 2em;
    margin-bottom: 0.5em;

}

.button-with-dropdown-fix-with {
    width: 27em;
}

.button-with-dropdown-fix-with>* {
    display: block;
    width: 100%;
}