<h1>Dive Statistics</h1>

<button mat-raised-button color="primary" [disabled]="(logReady$ | async) !== true" (click)="calculateDiveSiteStats()">Calculate Dive Site Statistics</button>
<table mat-table [dataSource]="(diveSiteStats | async) || []" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Dive Site</th>
    <td mat-cell *matCellDef="let site"> {{site.name}} </td>
  </ng-container>

  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef>Country</th>
    <td mat-cell *matCellDef="let site"> {{site.country}} </td>
  </ng-container>

  <ng-container matColumnDef="count">
    <th mat-header-cell *matHeaderCellDef>Count</th>
    <td mat-cell *matCellDef="let site"> {{site.count}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="columnsDiveSiteStats"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsDiveSiteStats;"></tr>
</table>



<button mat-raised-button color="primary" [disabled]="(logReady$ | async) !== true" (click)="calculateDivesByCountry()">Calculate Dives By Country Statistics</button>
<table mat-table [dataSource]="(divesByCountry | async) || []" class="mat-elevation-z8">

  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef>Country</th>
    <td mat-cell *matCellDef="let country"> {{country.country}} </td>
  </ng-container>

  <ng-container matColumnDef="count">
    <th mat-header-cell *matHeaderCellDef>Count</th>
    <td mat-cell *matCellDef="let country"> {{country.count}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsDivesByCountry"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsDivesByCountry;"></tr>
</table>



<button mat-raised-button color="primary" [disabled]="(logReady$ | async) !== true" (click)="calculateCountStats()">Calculate Count Statistics</button>
<table mat-table [dataSource]="(countStats | async) || []" class="mat-elevation-z8">

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let entry"> {{entry.description}} </td>
  </ng-container>

  <ng-container matColumnDef="count">
    <th mat-header-cell *matHeaderCellDef>Count</th>
    <td mat-cell *matCellDef="let entry"> {{entry.count}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsCountStats"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsCountStats;"></tr>
</table>

<button mat-raised-button color="primary" [disabled]="(logReady$ | async) !== true" (click)="calculateBuddyStats()">Calculate Buddy Statistics</button>
<table mat-table [dataSource]="(buddyStats | async) || []" class="mat-elevation-z8">

  <ng-container matColumnDef="buddy">
    <th mat-header-cell *matHeaderCellDef>Buddy</th>
    <td mat-cell *matCellDef="let entry"> {{entry.description}} </td>
  </ng-container>

  <ng-container matColumnDef="count">
    <th mat-header-cell *matHeaderCellDef>Count</th>
    <td mat-cell *matCellDef="let entry"> {{entry.count}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsBuddyStats"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsBuddyStats;"></tr>
</table>

<div class="button-with-dropdown-fix-with">
  <button mat-raised-button color="primary" [disabled]="(logReady$ | async) !== true" (click)="calculateAmv()">Calculate Respiratory Minute Volume (AMV)</button>
  <mat-form-field>
    <mat-label>Calculation Method</mat-label>
    <select matNativeControl [(ngModel)]="amwCalculationMode">
      <option [value]="AvaregeDeptCalculationMode.DONT_COUNT_SURFACE_TIME">don't count surface time</option>
      <option [value]="AvaregeDeptCalculationMode.TRUNCATE_END_ONLY">truncate surface time at the end of the dive (like Divemate does)</option>
      <option [value]="AvaregeDeptCalculationMode.FULL_RECORDED_DURATION">full recorded duration</option>
    </select>
  </mat-form-field>
  <span *ngIf="amv$ | async as amv">{{amv | number:'1.2-2'}} l/min</span>
</div>

<div class="button-with-dropdown-fix-with">
<button mat-raised-button color="primary" [disabled]="equipmentId === null || (logReady$ | async) !== true" (click)="calculateEquipmentStat()">Calculate Equipment Statistics</button>
<mat-form-field>
  <mat-label>Equipment</mat-label>
  <select matNativeControl [(ngModel)]="equipmentId">
    <option *ngFor="let equ of equipment$ | async" [value]="equ.id">{{equ.name}}</option>
  </select>
</mat-form-field>
</div>

<table mat-table [dataSource]="(equipmentStat | async) || []" class="mat-elevation-z8">

  <ng-container matColumnDef="numberOfDives">
    <th mat-header-cell *matHeaderCellDef>Number of Dives</th>
    <td mat-cell *matCellDef="let entry"> {{entry.numberOfDives}} </td>
  </ng-container>

  <ng-container matColumnDef="totalDiveTime">
    <th mat-header-cell *matHeaderCellDef>Total Dive Time</th>
    <td mat-cell *matCellDef="let entry"> {{entry.diveTimeHours}}h {{entry.diveTimeMinutes}}min</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsEquipmentStat"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsEquipmentStat;"></tr>
</table>

<button mat-raised-button color="primary" [disabled]="(logReady$ | async) !== true" (click)="calculateRecords()">Calculate Records</button>
<table mat-table [dataSource]="(records | async) || []" class="mat-elevation-z8">

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let entry"> {{entry.description}} </td>
  </ng-container>

  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef>Value</th>
    <td mat-cell *matCellDef="let entry"> {{entry.value}} </td>
  </ng-container>

  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let entry"> {{entry.number}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let entry"> {{entry.date}} </td>
  </ng-container>

  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef>Location</th>
    <td mat-cell *matCellDef="let entry"> {{entry.location}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsRecords"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsRecords;"></tr>
</table>

<button mat-raised-button color="primary" [disabled]="(logReady$ | async) !== true" (click)="calculateHistogram()">Calculate Histogram per year and month</button>

<div *ngIf="histogramMaxPerYear > 0">
<ul>
  <li>Max dives per year: {{histogramMaxPerYear}}</li>
  <li>Max dives per month: {{histogramMaxPerMonth}}</li>
</ul>
</div>

<mat-tree [dataSource]="histogram" [treeControl]="histogramTreeControl" [trackBy]="histogramTrackBy">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    {{node.name}}
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: histogramIsExpandable" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{histogramTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.name}}
  </mat-tree-node>
</mat-tree>

<button mat-raised-button color="primary" [disabled]="(logReady$ | async) !== true" (click)="calculateDepthStats()">Calculate Depth Statistics</button>
<br>
<mat-form-field>
  <mat-label>Tolerance (m)</mat-label>
  <input matInput [(ngModel)]="depthStatsToleranceMeter">
</mat-form-field>
<table mat-table [dataSource]="(depthStats | async) || []" class="mat-elevation-z8">

  <ng-container matColumnDef="depth">
    <th mat-header-cell *matHeaderCellDef>Depth</th>
    <td mat-cell *matCellDef="let entry"> {{entry.depthMeter}}m </td>
    <td mat-footer-cell *matFooterCellDef>Deepest Dive</td>
  </ng-container>

  <ng-container matColumnDef="count">
    <th mat-header-cell *matHeaderCellDef>Count</th>
    <td mat-cell *matCellDef="let entry"> {{entry.count}} </td>
    <td mat-footer-cell *matFooterCellDef><ng-container *ngIf="(depthStats | async)?.deepestDive as deepestDive">
      #{{deepestDive.number}} // {{deepestDive.location}} on {{deepestDive.date | date}} // depth: {{deepestDive.depthMeters}}m
    </ng-container></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsDepthStats"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsDepthStats;"></tr>
  <tr mat-footer-row *matFooterRowDef="columnsDepthStats"></tr>
</table>
